<section class="home">
  <mat-card>
    <mat-card-content>
      <img src="assets/images/logo.png" class="logo"/>
      <mat-form-field class="choose_location">
        <mat-label>Elige tu sucursal</mat-label>
        <mat-select (selectionChange)="goToLocationDetails($event)">
          <mat-option *ngFor="let location of locations" [value]="location.id">{{location.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-progress-spinner *ngIf="loading" [color]="'primary'" [mode]="'indeterminate'" [diameter]="32"></mat-progress-spinner>
  </mat-card>
</section>