.home{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  mat-card{
    mat-card-content{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0px;
      .logo{
        width: 300px;
        height: 300px;
      }
      .choose_location{
        margin-left: 32px;
        width: 200px;
      }
    }
    mat-progress-spinner{
      position: absolute;
      right: 16px;
      bottom: 16px;
    }
  }
}