@import 'app-colors';
section{
  padding: 16px 40px 0px 40px;
  height: calc(100% - 56px);
  overflow: auto;
  .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .name{
      font-size: 40px;
      line-height: 1;
    }
    img{
      width: 75px;
      height: 75px;
      cursor: pointer;
    }
  }
  mat-card{
    margin: 32px 0px 16px 0px;
    mat-card-content{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      mat-checkbox{
        width: 16.6666%;
        &:nth-child(n + 7){
          margin-top: 16px;
        }
      }
    }
  }
}
.control{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid $border;
  padding: 8px 40px;
  width: 100%;
  height: 56px;
}