<section>
  <div class="header">
    <p class="name">{{ location_name }}</p>
    <img src="assets/images/logo.png" [routerLink]="['/']"/>
  </div>
  <mat-card>
    <mat-card-content>
      <mat-checkbox *ngFor="let pc of pcs" [checked]="pc.isWork" (change)="switchIsWorkStatus(pc.id)">{{pc.name}}</mat-checkbox>
    </mat-card-content>
  </mat-card>
</section>
<div class="control">
  <mat-progress-spinner *ngIf="loading" [color]="'primary'" [mode]="'indeterminate'" [diameter]="32"></mat-progress-spinner>
  <button mat-raised-button color="accent" (click)="savePCsStatus()" [disabled]="loading">Guardar</button>
</div>