@import 'app-colors';
*{
  box-sizing: border-box;
}
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $background;
}
p, h1, h2, h3, h4, h5, h6{
  margin: 0px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}